<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
<!-- 	<bean class="com.ssafy.di.Programmer" id="programmer">
		<constructor-arg ref="desktop"></constructor-arg>
	</bean>
	
	<bean class="com.ssafy.di.Desktop" id="desktop"></bean> -->

	<bean class="com.ssafy.di.Laptop" id="Laptop"/>
	<bean class="com.ssafy.di.Programmer" id="programmer">
		<property name="computer" ref="Laptop"></property>
	</bean>


</beans>
