<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean class="com.ssafy.di.Programmer" id="programmer"> <constructor-arg 
		ref="desktop"></constructor-arg> </bean> <bean class="com.ssafy.di.Desktop" 
		id="desktop"/> -->

	<bean class="com.ssafy.di.Laptop" id="laptop" />
	<bean class="com.ssafy.di.Programmer" id="programmer">
		<!-- name에는 설정자 이름을 넣을것! 앞에 set 떼고 앞에 소문자로 바꾼것이랑 동일 -->
		<property name="computer" ref="laptop"></property>
		
	</bean>





</beans>
